#liens
{
    display: flex;
    justify-content: flex-end;
}
li
{
    padding:10px;
    margin: 10px;
}
h1
{
    font-size: 18px;
}
.element
{
    margin: 8px;
    font-size: 20px;
    color: black;
}
.lieu
{
    border: solid 1px;
    border-radius: 8px;
    display: inline;
}
input
{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.filtres
{
    border: solid 1px;
    border-radius: 8px;
    display: inline;
    padding: 1px;
}
mark
{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 5px;
    margin-left: -5px;
}
a
{
    text-decoration: none;
    color: #0065FC;
}
ul
{
    list-style-type: none;
}
.grille
{
    border: solid 1px;
    border-radius: 8px;
    background-color: #F2F2F2;
}
.grille
{
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    grid-template-rows: 1fr 1fr;
}
.child
{
    grid-auto-flow: column;
    grid-auto-flow: row;
}
.droite
{
    grid-column-start: 4/4;
    grid-row-start: 1/4;
    grid-column-end: 4/4;
    grid-row-end: 4/4;
}
.taille-image
{
    height:100px;
    width:150px;
}
.nav:hover
{
    text-decoration: overline;
    color: #0065FC;
}
html
{
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

img
{
    margin: 2px;
    padding: 2px;
}

.photos2
{
    display: inline;
}
em
{
    color: #0065FC;
    border: solid 1px;
    padding: 4px;
    border-radius: 100%;
}
.money
{
    color: #0065FC;
    height: 14px;
    width: 14px
}
.childicon
{
    height:14px;
    width:14px;
}
.heart
{
    height:14px;
    width:14px;
}
.dog
{
    height:14px;
    width:14px;
}
.rating
{
    color: #0065FC;
}
.activitesgrille
{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.activitesgrille
{
    grid-auto-flow: column;
}
.vieuxport
{
    height:400px;
    width:300px;
    border: 1px;
    border-radius: 8px;
}
.fort
{
    height:170px;
    width:190px;
    border:1px;
    border-radius:8px;
}
.frioul
{
    height:100px;
    width:190px;
    border:1px;
    border-radius: 8px;
}
.calanques
{
    height:400px;
    width:300px;
    border:1px;
    border-radius: 8px;
}
.garde
{
    height:100px;
    width:190px;
    border:1px;
    border-radius: 8px;
}
.parc
{
    height:170px;
    width:190px;
    border:1px;
    border-radius: 8px;
}
.vieux
{
    margin-left: 5px;
    border: solid 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;   
}
.footer
{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
}
.footer
{
    grid-auto-flow: column;
}