#liens
{
    display: flex;
    justify-content: flex-end;
}
li
{
    padding:10px;
    margin: 10px;
}
h1
{
    font-size: 18px;
}
.element
{
    margin: 8px;
    font-size: 20px;
    color: black;
}
.lieu
{
    border: solid 1px;
    border-radius: 8px;
    display: inline;
}
input
{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.filtres
{
    border: solid 1px;
    border-radius: 8px;
    display: inline;
    padding: 1px;
}
mark
{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 5px;
    margin-left: -5px;
}
a
{
    text-decoration: none;
    color: #0065FC;
}
ul
{
    list-style-type: none;
}
.grille
{
    display: grid;
    grid-template-columns: 66% 33%;
}
.grillehebergement
{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-flow: column;
    grid-auto-flow: row;
}
.grillehebergement
{
    border: solid 1px;
    border-radius: 8px;
    background-color: #F2F2F2;
    margin-right: 100px;
    padding-top:75px;
    padding-left:30px;
}
.droite
{
    border: solid 1px;
    border-radius: 8px;
    background-color: #F2F2F2;
    padding-left: 50px;
    margin-right: 50px;
}
.taille-image
{
    height:150px;
    width:225px;
    border:solid 5px white;
    border-radius:8px;
}
.cannebiere
{
    border:solid 3px white;
    border-radius:8px;
    background-color: white;
    margin-right: 10px;
}
.duport
{
        border:solid 3px white;
        border-radius:8px;
        background-color: white;
        margin-right: 10px;
}
.lesmouettes
{
    border:solid 3px white;
    border-radius:8px;
    background-color: white;
    margin-right: 10px;
}
.lamer
{
    border:solid 3px white;
    border-radius:8px;
    background-color: white;
    margin-right: 10px;
}
.lepanier
{
    border:solid 3px white;
    border-radius:8px;
    background-color: white;
    margin-right: 10px;
}
.camina
{
    border:solid 3px white;
    border-radius:8px;
    background-color: white;
    margin-right: 10px;
}
.matin
{
    border:solid 3px white;
    border-radius:8px;
    background-color: white;
    margin-right: 145px;
}
.leau
{
    border:solid 3px white;
    border-radius:8px;
    background-color: white;
    margin-right: 145px;
}
.blanc
{
    border:solid 3px white;
    border-radius:8px;
    background-color: white;
    margin-right:145px;
}
.nav:hover
{
    text-decoration: overline;
    color: #0065FC;
}
html
{
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

img
{
    margin: 2px;
    padding: 2px;
}

.photos2
{
    display: inline;
}
em
{
    color: #0065FC;
    border: solid 1px;
    padding: 4px;
    border-radius: 100%;
}
.fas
{
    color: #0065FC;
    height: 14px;
    width: 14px;
    padding-left:10px;
    padding-right: 10px;
}
.fa
{
    padding:8px;
}
#argent
{
    border:solid 3px;
}
#money
{
    color:blue;
}
.childicon
{
    height:14px;
    width:14px;
}
.heart
{
    height:14px;
    width:14px;
}
.dog
{
    height:14px;
    width:14px;
}
.iconi
{
    height:20px;
    width:20px;
}
.rating
{
    color: #0065FC;
}

.activitesgrille
{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.activitesgrille
{
    grid-auto-flow: column;
}
.vieuxport
{
    height:400px;
    width:300px;
    border: 1px;
    border-radius: 8px;
}
.fort
{
    height:170px;
    width:190px;
    border:1px;
    border-radius:8px;
    margin-left: 70px;
}
.frioul
{
    height:100px;
    width:190px;
    border:1px;
    border-radius: 8px;
    margin-left: 70px;
}
.calanques
{
    height:400px;
    width:300px;
    border:1px;
    border-radius: 8px;
    margin-right: 20px;
}
.garde
{
    height:100px;
    width:250px;
    border:1px;
    border-radius: 8px;
    margin-left: 20px;
}
.parc
{
    height:170px;
    width:250px;
    border:1px;
    border-radius: 8px;
    margin-left: 20px;
}
.vieux
{
    margin-left: 5px;
    border: solid 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    margin-right:20px; 
    border-top: none; 
}
.pomegues
{
    border:solid 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    margin-right:20px;
    margin-bottom: 50px;
    margin-left: 70px;
    border-top: none;
}
.dufrioul
{
    border:solid 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    margin-right:20px;
    margin-left: 70px;
    border-top: none;
}
.descalanques
{
    margin-left: 5px;
    border: solid 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    margin-right:40px;
    border-top: none;  
}
.lagarde
{
    border:solid 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    margin-right:210px;
    margin-bottom: 50px;
    margin-left: 20px;
    border-top: none;
}
.plongchamp
{
    border:solid 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    margin-right:210px;
    margin-left: 20px;
    border-top: none;
}
.footer
{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
}
.footer
{
    grid-auto-flow: column;
}
.footer
{
    padding:40px;
    background-color: #F2F2F2;
}
.location
{
    height:14px;
    width:14px;
}
.filtres
{
    margin:10px;
}