#liens
{
    display: flex;
    justify-content: flex-end;
}
h1
{
    font-size: 18px;
}
.element
{
    margin: 8px;
    font-size: 20px;
    color: black;
}

.lieu
{
    border: solid 1px;
    border-radius: 8px;
    display: inline;
}
input
{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.filtres
{
    border: solid 1px;
    border-radius: 8px;
    display: inline;
    padding: 1px;
}
.hebergements
{
    border: solid 1px;
    border-radius: 8px;
    display: inline;
    padding: 2px;
    
}
mark
{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 5px;
    margin-left: -5px;
}
a
{
    text-decoration: none;
    color: #0065FC;
}
ul
{
    list-style-type: none;
}
#section
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.child
{
    grid-column-start: 1/4;
    grid-row-start: 1/4;
    grid-column-end: 3/4;
    grid-row-end: 1/4;
}
.child2
{
    grid-column-start: 1/4;
    grid-row-start: 2/4;
    grid-column-end: 3/4;
    grid-row-end: 2/4;
}
.aside
{
    grid-column-start: 4/4;
    grid-row-start: 1/4;
    grid-column-end: 4/4;
    grid-row-end: 3/4;
}
.section > div
{
    background-color: #F2F2F2;
    border: solid 1px;
}
.footer
{
    border: solid 1px;
    display: inline;
    background-color: #F2F2F2;
    padding: 2px;
}
.footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.activites
{
    border: solid 1px;
}
.activites
{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column: 1 / 4 ;
    grid-row: 1 / 2;
}

.nav:hover
{
    text-decoration: overline;
    color: #0065FC;
}
html
{
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

img
{
    margin: 2px;
    padding: 2px;
}

.photos2
{
    display: inline;
}
em
{
    color: #0065FC;
    border: solid 1px;
    padding: 4px;
    border-radius: 100%;
}
#money
{
    color: #0065FC
}