#liens
{
    display: flex;
    justify-content: flex-end;
}
li
{
    padding:10px;
    margin: 10px;
}
h1
{
    font-size: 18px;
}
.element
{
    margin: 8px;
    font-size: 20px;
    color: black;
}
.lieu
{
    border: solid 1px;
    border-radius: 8px;
    display: inline;
}
input
{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.filtres
{
    border: solid 1px;
    border-radius: 8px;
    display: inline;
    padding: 1px;
}
mark
{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 5px;
    margin-left: -5px;
}
a
{
    text-decoration: none;
    color: #0065FC;
}
ul
{
    list-style-type: none;
}
.herbegement-grille
{
    display: flex;
    flex-direction: row;
}
.taille-image
{
    height:100px;
    width:150px;
}
.nav:hover
{
    text-decoration: overline;
    color: #0065FC;
}
html
{
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

img
{
    margin: 2px;
    padding: 2px;
}

.photos2
{
    display: inline;
}
em
{
    color: #0065FC;
    border: solid 1px;
    padding: 4px;
    border-radius: 100%;
}
.money
{
    color: #0065FC;
    height: 14px;
    width: 14px
}
.childicon
{
    height:14px;
    width:14px;
}
.heart
{
    height:14px;
    width:14px;
}
.dog
{
    height:14px;
    width:14px;
}
.rating
{
    color: #0065FC;
}
