html
{
    margin-left:10px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.lieu
{
    padding-top:5px;
}
.rechercher
{
    font-size: 21px;
}

.liens
{
    display:grid;
    grid-template-columns: 100px;
}
.lien
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.filtres
{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.filtres
{
    margin-right: 125px;
}
.grille
{
    display:grid;
    grid-template-columns: 100%;
}
.grille
{
    display:flex;
    flex-wrap: wrap-reverse;
}
.grillehebergement
{
    display:grid;
    grid-template-columns: 100%;
}
.grillehebergement
{
    background-color: white;
}

.taille-images
{
    height:100px;
    max-width: 100%;
    border-radius: 8px;
    padding:3px;
}
.heber
{
    position: relative;
    top:710px;
}
.heber
{
    width:200px;
}
.populaires
{
    position:relative;
    bottom:2030px;
    left:60px;
}
.activites
{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.footer
{
    display:grid;
    grid-template-columns: 100%;
}
.footer
{
    grid-column: 30%;
}
.footer
{
    font-size: 20px;
}
.nosheber
{
    margin-bottom:20px;
}
.propos
{
    margin-bottom: 20px;
}